*{
    margin: 0px;
    padding: 0px;
}

.mern1{
 padding-top: 10%;
 padding-left: 10%;   

}
.mern4{
    background-color:red;
    color:white;
    border: none;
    height: 24px;
    width: 90px;
   
}
.mern4:hover{
    transform: scale(1.1);
    background-color:red;
}
.mern5{
    
    background-color: blue;
    color: white;
    border: none;
    height: 20px;
    width: 90px;
}
.mern5:hover{
    transform: scale(1.1);
    background-color:blue;
}
.mern6{
    background-color:green;
    color: white;
    border: none;
    height: 20px;
    width: 90px;
}
.mern6:hover{
    transform: scale(1.1);
    background-color:green;
}


nav {
    background-color:black;
}

.navbar {
    list-style-type: none;
    display: flex;
    flex-wrap: wrap;
}

.navbar li {
    padding-left: 10px;
}

.navbar a {
    display: block;
    padding: 18px;
    text-align: center;
    color: white;
    text-decoration: none;
}

